.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.m-16 { margin: 16px;}
.m-8 { margin: 8px; }
.p-8 { padding: 8px; }
.p-16 { padding: 16px;}
.p-l-16 { padding-left: 16px; }
.m-r-8 { margin-right: 8px; }
.m-b-8 { margin-bottom: 8px; }
.m-l-16 { margin-left: 16px; }
.m-l-8 { margin-left: 8px; }
.m-r-32 { margin-right: 32px; }
.m-l-32{ margin-left: 32px; }
.m-t-8 { margin-top: 8px; }
.m-t-16 { margin-top: 16px; }

.flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-row {
  display: flex;
  flex-grow: inherit;
  flex-wrap: wrap;
}

.flex-column {
  display: flex;
  flex-grow: inherit;
  flex-direction: column;
}

.flow-header{
  color: white;
  font-size: 32px;
}

.btn {
  width: 100px;
  cursor: pointer;
}

.create-btn{
  background-color: #1abc51;
  width: 200px;
  color: white;
  border: 0px solid white;
}

.primary-btn{
  background-color: white;
  border: 1px solid black;
}

.danger-btn{
  background-color: #fd062a;
  color: white;
  border: 1px solid #fd062a;
}

.shuffle-btn{
  background-color: #7901b7;
  color: white;
  border: 1px solid #7901b7;
}

.save-btn{
  background-color: #3b5cd8;
  border: 1px solid #3b5cd8;
  color: white;
}

.rounded-btn{
  height: 32px;
  width: 100px;
  border-radius: 5px;
}

.search-btn{
  width: 300px;
  border: 1px solid black;
}


.flex-space-between{
  justify-content: space-between
}

.create-flow{
  width: 200px;
  font-size: 16px;
}

.workflow-name{
  width: 370px;
  height: 32px;
  padding-left: 16px;
  font-size: 24px;
}

.card {
  border-radius: 5px;
  border: 1px solid grey;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
